@font-face {
    font-family: RobotoMono;
    src:url(FontsFolder/RobotoMono.ttf);
}

h1, p, button{
    font-family: RobotoMono;
}

div {
    letter-spacing: 0.035cm;
}
div section{
    display: block;
    text-align: center;
}
div ul {
    margin: 0;
    padding: 0;
    list-style: none;   
}
div li {
    display: inline-block;
    margin: 0 10px;
    padding-top: 25px;
    position: relative; 
}
div a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-family: RobotoMono;
    font-size: 18px;
}

div p {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-family: RobotoMono;
    font-size: 15px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}